.App {
  text-align: center;
}

table { 
  width: 500px;
  margin: 0px auto;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  padding: 5px;
}

.register {
  width: 500px;
  margin: 0px auto;
}

.register input {
  width: 100%;
  margin: 5px 0px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 1px solid gray;
}