.blue {
  color: blue;
  background-color: yellow;
}

.green {
  color: green;
}

.value { 
  margin: 10px;
  font-size: 30px;
}

button {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 5px;
}