<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<div layout:fragment="content">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="/images/arumLogo.png" id="icon" alt="main icon"/>
                <h2>3Tier admin</h2>
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="id" class="fadeIn second input-text" name="id" placeholder="ID">
                <input type="password" id="password" class="fadeIn third input-text" name="password" placeholder="password" onkeypress="JavaScript:pressEnter(event)">
                <button type="button" class="fadeIn fourth btnLogin" id="btn-login">로그인</button>
            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">(주)아름누리메디컴</a>
            </div>

        </div>
    </div>
    <script>
        function pressEnter(event){
            if (event.keyCode == 13){ //enter키
                var loginButton = document.getElementById("btn-login");
                loginButton.click();
            }
        }
    </script>
</div>
</html>